<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lanshan.mapper.RequestMapper">

    <update id="updateAdd">
        update request_add
        <set>
            <if test="status != null"> status= #{status}, </if>
            <if test="content != null"> content = #{content}</if>
            <if test="deptId != null"> dept_id = #{deptId}</if>
            <if test="userId != null"> user_id = #{userId}</if>
        </set>
        where id = #{id}
    </update>
    <update id="updateChange">
        update request_change
        <set>
            <if test="status != null"> status= #{status}, </if>
            <if test="content != null"> content = #{content}</if>
            <if test="deptId != null"> dept_id = #{deptId}</if>
            <if test="userId != null"> user_id = #{userId}</if>
        </set>
        where id = #{id}
    </update>
    <update id="updateLeave">
        update request_leave
        <set>
            <if test="status != null"> status= #{status}, </if>
            <if test="content != null"> content = #{content}</if>
            <if test="deptId != null"> dept_id = #{deptId}</if>
            <if test="userId != null"> user_id = #{userId}</if>
        </set>
        where id = #{id}
    </update>
</mapper>